@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100%;
  justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}
